.pageContainer {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.content {
  color: #fff;
  position: relative;
  top: 33%;
  font-size: 1.4em;
}

.loginButton {
  background-color: rgb(245, 134, 46);
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.loginMetamask {
  height: auto;
  width: 200px;
  position: absolute;
  left: 5%;
  top: 5%;
}

@media screen and (max-width: 600px) {
  .metamask {
    display: none;
  }
}
